body {
	background-color: black;
	text-align: center;
	color: white;
	font-family: helvetica, sans-serif;
}

p {
	word-spacing: .1em;
}

#aside {
        width: 35%;
	float: right;
        text-align: center;
}

h3 a {
	color: #e6e6e6;
	font-family: Franklin Gothic, helvetica, sans-serif;
	word-spacing: .1em;
}

li {
    color: white;
}

h1.clear {
	clear: both;
}

nav {
	padding: 10px;
}
